# Editor
alias vim='nvim'

# Listing options
alias ls="exa -a"
alias l="exa -la"

# Tree options
alias tree="exa --tree"
alias mtree="exa --tree --long"

# Sane defaults
alias cp="cp -i"
alias mv="mv -i"
alias rm="rm -i"

# Send files to trash
alias ts="trash"

# Git
alias gs="git status"
alias gg="git graph"
alias gu="git pull"

# Jupyter Notebooks
alias jn="jupyter notebook"

# Folders
alias docs="cd ~/Documents"
alias desk="cd ~/Desktop"
alias loads="cd ~/Downloads"
alias basb="cd ~/Documents/Obsidian"
alias mim="cd ~/Documents/business-analytics"
alias book="cd ~/Documents/Books"
alias books="cd ~/Documents/Books"
alias paper="cd ~/Documents/Papers"
alias papers="cd ~/Documents/Papers"
alias thesis="cd ~/Documents/business-analytics/Thesis"
