.DS_Store

# Fish
shell/.config/fish/fish_variables
shell/.config/fish/functions/

# Nvim
editor/.config/nvim/plugged/
editor/.config/nvim/undodir/
editor/.config/nvim/spell/

# Homebrew
macOS/Brewfile.lock.json
