Cython
ipython
jupyter
jedi
isort
mypy
flake8
pylint
black
pytest
numpy
pandas
networkx
matplotlib
requests
beautifulsoup4
seaborn
seaborn
scipy
pyyaml
lxml
Pillow
Send2Trash
tqdm
scikit-learn
tensorflow
keras
torch
torchvision
torchaudio
virtualenv
poetry
pynvim
