Cython
Flask
Pillow
PyQt5
autopep8
beautifulsoup4
black
cachetools
cryptography
flake8
graphviz
h5py
ipdb
ipython
isort
jedi
jupyter
jupyterthemes
keras
line-profiler
matplotlib
memory-profiler
metakernel
mypy
nbconvert
neovim
numpy
opencv-contrib-python
opencv-python
pandas
parse
patsy
pep8
pycrypto
pyflakes
pylint
pytest
requests
scikit-learn
scipy
scrapy
seaborn
selenium
sympy
tabulate
togglCli
torch
torchvision
torchviz
tqdm
xlrd
